:root{
    --grey: #585858;
    --tabgrey: #AAAAAA;
    --lightgrey: #C2C2C2E8;
    --whitegrey:  #EDEDED;
    --lightbluebackground: #84A9E270;
    --stressed: #FF1B5A;
    --examplesColor: #B666F4;
    --inputDataColor: #00B003;
    --movingAverageColor: #E74C3C;
    --singleExponentialSmoothingColor: #3EA0FC;
    --doubleExponentialSmoothingColor: #D6B900;
}

/* General elements */
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    background-color: var(--lightbluebackground);
}
h1{
    margin: 0;
    text-align: center;
}
.welcome{
    background-image: url(../img/brickwall.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 50px 50px 50px;
    color: var(--whitegrey);
    font-size: 20px;
}
.basic-section{
    padding: 50px 30px;
}
.form-text{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--grey);
    margin: 0 5px 0 0;
}
.btn{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--grey);
    margin: 2px 5px 2px 0;
    background-color: var(--grey);
    color: var(--whitegrey);
}
.stressed-text{
    color: var(--stressed);
}
.horizontal{
    display: flex;
}
.vertical{
    flex: 50%;
    margin: 10px 10px 10px 0;
}

/* TODO clean up */
.main-content-settings{
    background-color: var(--whitegrey);
    padding: 10px;
    margin-top: 5px;
    color: #292A0A;
    border: 1px solid #000;
    height: 200px;
    overflow: auto;
}
.main-content-tab{
    background-color: var(--whitegrey);
    padding: 10px;
    margin-top: 0px;
    color: #292A0A;
    border: 1px solid #000;
    border-top: none;
    height: 400px;
    overflow: auto;
}
/* */

.big-text{
    font-size: 1.5em;
}
.horizontal-container {
    background-color: var(--whitegrey);
    display: flex;
    border-radius: 5px;
    padding: 3px;
    margin: 1px 0;
}
.border{
    border: 1px solid #B7B7B7;
}
.description-text {
    margin: auto;
    margin-left: 10px;
    float: right;
}

/* Navigation bar */
.navbar{
    background-color: var(--lightgrey);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
.navlist{
    float: right;
}
.navlist li{
    display: inline-block;
}
a{
    color: #000;
    margin: 0 20px;
    text-decoration: none;
}
a:hover{
    color: var(--grey);
    text-decoration: underline;
}

/* Footer */
.footer{
    padding: 2px;
    text-align: center;
    margin: auto;
}

/* Table */
.table{
    padding: 10px 0 10px 0;
}
.row{
    display: flex;
}
.cell{
    border: 1px solid #000;
    width: 100px;
    padding: 2px;
}
.table_heading{
    font-weight: bold;
}

/* Graphic */
.svg{
    border: 1px solid #000;
    margin: 0 0 0 10px;
}

/* Tabs */
.tablinks{
    display: inline;
    list-style-type: none;
    background-color: #4F4F4F;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    cursor: pointer;
}

#examples{ color: var(--examplesColor); }
#input{ color: var(--inputDataColor); }
#ma{ color: var(--movingAverageColor); }
#ses{ color: var(--singleExponentialSmoothingColor); }
#des{ color: var(--doubleExponentialSmoothingColor); }

.tab {
    overflow: hidden;
    border: 1px solid #000;
    background-color: var(--tabgrey);
}

.tab button {
    background-color: var(--grey);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    border-radius: 0;
}

.tab button:hover {
    background-color: #999999;
}

.tab button.active {
    background-color: var(--tabgrey);
}

.tabcontent{
    display: none;
}

.disabled{
    display: none;
    visibility: hidden;
}